html{
    --primary-color: #f2e269;
    --secondary-color: #cba000;
}

.icon::before{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

html{
    margin:0 auto;
    background-color:var(--primary-color);
    color:#5a4813;
    font-family: "Balsamiq Sans", "Single Day", sans-serif !important;
    overflow-x:hidden;
}

body{
    margin:0;
    background-color:#f9f8e2;
    overflow-x:hidden;
    width:100vw;
    font-family: "Balsamiq Sans", "Single Day", sans-serif !important;
}

table{
    text-transform: lowercase;
}

#logo_div{
    z-index: 100;
    width: 100%;
    height: 200px;
    position: absolute;
    left:25px;
    top:25px;
}

#logo{
    height:150px;
    cursor:pointer;
}

#flags_div{
    z-index: 110;
    position: absolute;
    width:255px;
    left:calc(50% - 275px / 2);
    top:60px;
    padding-left:10px;
    padding-right:10px;
    background-color: var(--secondary-color);
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.flag{
    margin-left:5px;
    margin-right:5px;
    width:50px;
}

#wave_top,#wave_bottom{
    height:2vw;
    width:200vw;
    min-height:25px;
    overflow: hidden;
    z-index:50;
    animation: 3s linear infinite running slidein;
}

#wave_top{
    border-top:200px solid var(--primary-color);
}

#wave_bottom{
    margin-top:100px;
    border-bottom:50px solid var(--primary-color);
    height:2.2vw;
}

@keyframes slidein {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100vw);
    }
}

#title{
    position:relative;
    margin:0 auto;
    margin-top:-225px;
    margin-bottom: 175px;
    width:fit-content;
}

h1{
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    color:white;
    background-color: var(--secondary-color);
    border-radius:50px;
    padding-left: 15px;
    padding-right: 15px;
    width:fit-content;
    z-index:100;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.section .content{
    overflow-y: hidden;
    max-height:0px;
    transition: max-height .5s ease-in-out;
}

.section h2{
    cursor: pointer;
}

.section h2::after{
    transition: all 0.25s ease-in-out;
    display: inline-block;
    content: "\25be";
    transform: scale(1.5) translateX(7.5px) rotate(180deg);
    margin-top: -5px;
}

.section h2[active="true"]::after{
    transform: scale(1.5) translateX(7.5px);
}

.kazakh{
    background: url('src/symbols/kazakh.svg');
    vertical-align: -2px;
    height:40px;
    width:40px;
}

.french{
    background: url('src/symbols/french.svg');
    vertical-align: middle;
    height: 50px;
    width: 50px;
}

.russian{
    background: url('src/symbols/russian.svg');
    vertical-align: text-top;
    height: 50px;
    width: 50px;
}

.korean{
    background: url('src/symbols/korean.svg');
    vertical-align: -2px;
    height:40px;
    width:40px;
}

.kazakh,.french,.russian,.korean{
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#search_bar{
    width:calc(100% - 50px);
    max-width:750px;
    height:65px;
    display:block;
    margin:0 auto;
    border-radius:10px;
    border:none;
    background-color:#e7e0c4;
    padding-left:50px;
    font-size:20px;
    font-family: "Balsamiq Sans", "Single Day", sans-serif !important;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    z-index:20;
}

h1 .fa-sun{
    font-size:40px;
}

#search_bar_div{
    width:90%;
    max-width:800px;
    margin:0 auto;
    height:fit-content;
    margin-top:50px;
}

#search_bar_div::before{
    pointer-events:none;
    position:relative;
    top:45px;
    left:20px;
    z-index:30;
    font-size:20px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f002";
    opacity: 0.5;
}

#search_bar:focus{
    outline:none;
}

#words_outer{
    width:85%;
    max-width:750px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 0 auto;
    max-height:400px;
    overflow:hidden;
    position: relative;
    z-index:1;
    box-shadow:0px 5px 20px rgba(0,0,0,0.1);
    background-color: #ded5ac;
}

#words{
    max-height:400px;
    width:100%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: auto;
    padding-bottom:10px;
    background-image: url('src/bg.png');
    background-attachment: local;
    background-size: 50%;
    background-color: #ded5ac;
}

.word{
    margin-left:2px;
    margin-right:2px;
    margin-bottom: 0px;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    width:fit-content;
    height:fit-content;
    border:1.5px solid #5a4813;
    border-bottom: 3px solid #5a4813;
    border-radius:10px;
    text-align:center;
    font-size:20px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    text-transform: lowercase;
    box-shadow:0 2px 2px rgba(0,0,0,0.1);
}

#guess_word, #number_output{
    height:61px;
    width:260px;
    display: inline-table;
    margin:0 auto;
    border:1.5px solid #5a4813;
    border-bottom: 3px solid #5a4813;
    border-radius:10px;
    text-align:center;
    font-size:20px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    text-transform: lowercase;
    box-shadow:0 2px 2px rgba(0,0,0,0.1);
    position: relative;
    z-index:20;
    vertical-align: middle;
    line-height: 65px;
    margin-top:-3px;
}

#guess_word p{
    line-height: 20px;
}

#number_output p, #guess_word p{
    margin:0 auto;
    display:table-cell;
    vertical-align: middle;
    line-height: 30px;
}

.word:nth-child(7n),.letter:nth-child(7n),.number:nth-child(7n),.col1{
    background-color:#fbc59f !important;
}
.word:nth-child(7n+1),.letter:nth-child(7n+1),.number:nth-child(7n+1),.col2{
    background-color:#f4eb84 !important;
}
.word:nth-child(7n+2),.letter:nth-child(7n+2),.number:nth-child(7n+2),.col3{
    background-color:#c499e0 !important;
}
.word:nth-child(7n+3),.letter:nth-child(7n+3),.number:nth-child(7n+3),.col4{
    background-color:#f39f95 !important;
}
.word:nth-child(7n+4),.letter:nth-child(7n+4),.number:nth-child(7n+4),.col5{
    background-color:#a9e3bb !important;
}
.word:nth-child(7n+5),.letter:nth-child(7n+5),.number:nth-child(7n+5),.col6{
    background-color:#e6b8b8 !important;
}
.word:nth-child(7n+6),.letter:nth-child(7n+6),.number:nth-child(7n+6),.col7{
    background-color:#a6cdf4 !important;
}

.word:nth-child(7n):active,.letter:nth-child(7n):active,.number:nth-child(7n):active,.col1:active{
    background-color:#e0ab85 !important;
    border-bottom: 1.5px solid #5a4813 !important;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25) inset !important;
}
.word:nth-child(7n+1):active,.letter:nth-child(7n+1):active,.number:nth-child(7n+1):active,.col2:active{
    background-color:#c7b056 !important;
    border-bottom: 1.5px solid #5a4813 !important;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25) inset !important;
}
.word:nth-child(7n+2):active,.letter:nth-child(7n+2):active,.number:nth-child(7n+2):active,.col3:active{
    background-color:#ae82ca !important;
    border-bottom: 1.5px solid #5a4813 !important;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25) inset !important;
}
.word:nth-child(7n+3):active,.letter:nth-child(7n+3):active,.number:nth-child(7n+3):active,.col4:active{
    background-color:#d8837a !important;
    border-bottom: 1.5px solid #5a4813 !important;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25) inset !important;
}
.word:nth-child(7n+4):active,.letter:nth-child(7n+4):active,.number:nth-child(7n+4):active,.col5:active{
    background-color:#8ac59d !important;
    border-bottom: 1.5px solid #5a4813 !important;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25) inset !important;
}
.word:nth-child(7n+5):active,.letter:nth-child(7n+5):active,.number:nth-child(7n+5):active,.col6:active{
    background-color:#ca9797 !important;
    border-bottom: 1.5px solid #5a4813 !important;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25) inset !important;
}
.word:nth-child(7n+6):active,.letter:nth-child(7n+6):active,.number:nth-child(7n+6):active,.col7:active{
    background-color:#80a9d1 !important;
    border-bottom: 1.5px solid #5a4813 !important;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25) inset !important;
}

#guess_game{
    width:90%;
    max-width:750px;
    margin:0 auto;
    margin-top:50px;
    display:block;
    text-align:center;
}

h2{
    font-size:30px;
    font-weight:700;
    margin:0 auto;
    margin-bottom:10px;
    text-align:center;
    margin-top:50px;
}

h1{
    font-size:40px;
    font-weight:700;
    margin:0 auto;
    margin-bottom:10px;
    text-align:center;
    margin-top:50px;
}

#guess_result,#wordle_output{
    font-size:20px;
    color:#f9f8e2;
    background-color:#5a4813;
    border-radius:25px;
    padding-left: 15px;
    padding-right: 15px;
    width:fit-content;
    margin:0 auto;
    margin-top:25px;
    height:25px;
    opacity:0;
}

#guess_input, #number_input{
    padding:0;
    height:65px;
    width:250px;
    display:inline-block;
    margin:0 auto;
    border-radius:10px;
    border:none;
    background-color:#e7e0c4;
    padding-left:10px;
    font-size:20px;
    font-family: "Balsamiq Sans", "Single Day", sans-serif !important;
    box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    z-index:20;
    text-align:center;
}

#guess_input:focus, #number_input:focus{
    outline:none;
}

#number_translate{
    margin:0 auto;
    margin-top: 50px;
    width: 90%;
    max-width: 750px;
    display: block;
    text-align: center;
}

#number_output{
    background-color:#fbc59f;
}

.section{
    width:90%;
    margin:0 auto;
    display:block;
}

#alphabet{
    max-width:400px;
    text-align:left;
    margin:0 auto;
}

#numbers{
    max-width:600px;
    text-align:center;
    margin:0 auto;
}

.number p{
    font-size: 30px;
    margin:0 auto;
    height:25px;
    line-height: 25px;
}

.number p:nth-child(2){
    font-size: 15px;
    height:15px;
    line-height: 15px;
}

.letter,.number{
    user-select: none;
    height:50px;
    width:50px;
    display:inline-block;
    margin:0 auto;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:10px;
    border:1.5px solid #5a4813;
    border-bottom: 3px solid #5a4813;
    border-radius:10px;
    text-align:center;
    font-size:20px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    text-transform: lowercase;
    box-shadow:0 2px 2px rgba(0,0,0,0.1);
    position: relative;
    z-index:20;
    vertical-align: middle;
    line-height: 50px;
    margin-top:-3px;
}

.number{
    height:65px;
    width:75px;
    padding-top:10px;
}

.cases,.tenses{
    width:100%;
    overflow-x: auto;
}

#vowels_table{
    font-style: italic;
    margin:0 auto;
    border-collapse: collapse;
    margin-bottom:25px;
}

#vowels_table td:not(:first-child){
    border: 1px solid black;
    border-top:0;
    border-bottom:0;
    width:50px;
    text-align: center;
}
#vowels_table tr:last-child td {
    border-bottom: 0;
}
#vowels_table tr td:first-child,#vowels_table tr td:nth-child(2){
    border-left: 0;
}
#vowels_table tr td:last-child{
    border-right: 0;
}

#vowels_table td:first-child{
    text-align: right;
}

.grammar_table{
    font-size:20px;
    min-width:500px;
    border:1px solid #5a4813;
    border-collapse:collapse;
    width:90%;
    max-width:1000px;
    margin:0 auto;
    border-radius:5px;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border:1.5px solid #5a4813;
    border-bottom: 3px solid #5a4813;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.highlight{
    display: inline-block;
    color:var(--secondary-color);
    font-weight: 700;
}

.cases_general_table{
    min-width: 700px;
}
   
/* Apply a border to the right of all but the last column */
.grammar_table th:not(:last-child),
.grammar_table td:not(:last-child){
border-right: 1px solid black;
}

.grammar_table th{
    background-color: var(--primary-color);
    height:45px;
    text-align:center;
}

.grammar_table td{
    text-align:center;
    height:35px;
    background-color:#e7e0c4;
}

.cases_table td:first-child{
    width:100px;
    font-weight: 700;
}

.tense_table td:first-child{
    width:130px;
    font-weight: 700;
}

.cases_general_table td:first-child{
    width:100px;
    font-weight: 700;
}

.cases_general_table td:nth-child(3){
    width:100px;
    font-weight: 700;
}

.cases_general_table td:nth-child(4){
    width:250px;
}

.cases_general_table td:nth-child(5){
    width:200px;
}

/* Apply a border to the bottom of all but the last row */
.grammar_table>thead>tr:not(:last-child)>th,
.grammar_table>thead>tr:not(:last-child)>td,
.grammar_table>tbody>tr:not(:last-child)>th,
.grammar_table>tbody>tr:not(:last-child)>td,
.grammar_table>tfoot>tr:not(:last-child)>th,
.grammar_table>tfoot>tr:not(:last-child)>td,
.grammar_table>tr:not(:last-child)>td,
.grammar_table>tr:not(:last-child)>th,
.grammar_table>thead:not(:last-child),
.grammar_table>tbody:not(:last-child),
.grammar_table>tfoot:not(:last-child) {
    border-bottom: 1px solid black;
}

.grammar_table tr:first-child th:first-child{
    border-top-left-radius: 9px;
}

.grammar_table tr:first-child th:last-child{
    border-top-right-radius: 9px;
}

.grammar_table tr:last-child td:first-child{
    border-bottom-left-radius: 9px;
}

.grammar_table tr:last-child td:last-child{
    border-bottom-right-radius: 9px;
}

#progress_div{
    width:90%;
    max-width:750px;
    margin:0 auto;
    margin-bottom:25px;
    display:block;
    text-align:center;
    opacity:0;
}

#progress_div p{
	background-color: #f4b900;
	color: white;
	width: fit-content;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
	border: 3px solid white;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    opacity: 0;
    animation: bob 4s ease-in-out infinite;
    transform: translateX(-100%);
    position: relative;
    height:20px;
}

#progress_div p::after{
    content: "";
    height:10px;
    width: 10px;
    transform:rotate(45deg);
    background-color:#f4b900;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    display:block;
    margin:0 auto;
    margin-top: 2px;
}

@keyframes bob {
    0% {
        transform: translate(-50%,0);
    }
    50% {
        transform: translate(-50%,-5px);
    }
    100% {
        transform: translate(-50%,0);
    }
}

#progress_div .total{
    height:5px;
    background-color: #ddcfaa;
    border-radius:10px;
    margin-bottom: 25px;
}

#progress_div .progress{
    height:10px;
    background-color: #f4b900;
    border-radius:10px;
    width:0%;
    margin-top:-32.5px;
    position:relative;
    z-index: 1;
}

#progress_div .progress_total{
    height:10px;
    background-color: #ddcfaa;
    border-radius:10px;
    width:0%;
    margin-top:-10px;
    position:relative;
    z-index:0;
}

.body_part{
    width: 90%;
    max-width: 700px;;
    margin:0 auto;
    display:block;
}

#Layer_1{
    pointer-events: none;
}

#Layer_2 polygon, #Layer_2 path{
    fill:none;
    stroke-width: 5px;
    pointer-events: fill;
}

#Layer_2 polygon:hover, #Layer_2 path:hover{
    fill:var(--primary-color);
}

#body_info{
    display: table;
    width:fit-content;
    padding-left: 15px;
    padding-right: 15px;
    height:0px;
    position:absolute;
    opacity: 0;
    pointer-events: none;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid #5a4813;
    border-bottom: 2px solid #5a4813;
    transition:height .2s cubic-bezier(.68,-0.55,.27,1.55),width .2s cubic-bezier(.68,-0.55,.27,1.55),opacity .1s cubic-bezier(.68,-0.55,.27,1.55);
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

#body_info p{
    transition: opacity 0.1s ease-in-out;
}

#search_filters{
    width:100%;
    text-align: center;
    height:35px;
}

.filter,#filter_tags{
    cursor: pointer;
    margin-left:5px;
    margin-right:5px;
    display: inline-block;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    width:fit-content;
    height:fit-content;
    border:1.5px solid #5a4813;
    border-bottom: 3px solid #5a4813;
    border-radius:10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: none;
    text-align:center;
    font-size:20px;
    font-weight: 400;
    font-style: normal;
    box-shadow:0 2px 2px rgba(0,0,0,0.1);
    background-color: #f2e574;
    transition: all 0.1s ease-in-out;
    vertical-align: top;
}

.filter p,#filter_tags p{
    margin:0;
    transition: all 0.1s ease-in-out;
    transform: translateY(0px);
}

.filter[active="true"],#filter_tags[active="true"]{
    background-color:#d5be66;
    border-bottom: 1.5px solid #5a4813;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25) inset;
}

.filter:active,#filter_tags:active{
    background-color:#c7b056;
    border-bottom: 1.5px solid #5a4813;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25) inset;
}

.filter[active="true"] p,#filter_tags[active="true"] p{
    transform: translateY(-1px);
}

.filter:active p,#filter_tags:active p{
    transform: translateY(-2px);
}

.tag{
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
}

.tag:nth-child(even){
    background-color: #faf1a5;
}

.tag:hover{
    background-color: #d5be66;
}

#filter_tags p::after{
    display: inline-block;
    content: "\25be";
    transform: scale(1.5) translateX(7.5px);
    margin-top: -5px;
}

#tags_list{
    display: none;
    position: absolute;
    width:fit-content;
    min-width: 100px;
    height:200px;
    overflow-y: auto;
    z-index: 500;
    border:1.5px solid #5a4813;
    border-bottom: 3px solid #5a4813;
    border-radius:10px;
    text-align:center;
    font-size:20px;
    font-weight: 400;
    font-style: normal;
    box-shadow:0 2px 2px rgba(0,0,0,0.1);
    background-color: #f2e574;
}

.locations{
    text-align: center;
}

#location_renderer canvas{
    margin:0 auto;
}

.colors{
    max-width: 750px;
    text-align: center;
}

#color_picker{
    height:61px;
    width:333px;
    display: inline-table;
    margin:0 auto;
    border:1.5px solid #5a4813;
    border-bottom: 3px solid #5a4813;
    border-radius:10px;
    text-align:center;
    font-size:20px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    text-transform: lowercase;
    box-shadow:0 2px 2px rgba(0,0,0,0.1);
    position: relative;
    z-index:20;
    vertical-align: middle;
    line-height: 65px;
    margin-bottom: 25px;
    background-color: #efe273;
    transform: translateY(25px);
}

#color_picker p{
    line-height: 20px;
    pointer-events: none;
}

.jscolor-wrap{
    transform: translateY(-25px) !important;
}

.jscolor-border{
    background:#f4eb84 !important;
    border:1.5px solid #5a4813 !important;
    border-bottom: 3px solid #5a4813 !important;
}

.jscolor-shadow{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px 0px !important;
}

.jscolor-picker > div:first-child, .jscolor-picker > div:nth-child(3), .jscolor-palette-sw{
    border:1px solid #5a4813 !important;
}

.jscolor-palette-sw{
    border-bottom: 2px solid #5a4813 !important;
    border-radius: 5px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px !important;
}

.jscolor-palette-sw div{
    border-radius: 4px !important;
    height:25px !important;
}

.jscolor-picker > div:first-child, .jscolor-picker > div:first-child > div > canvas{
    border-radius: 10px !important;
}

.table_week,.table_year{
    font-size:15px;
    min-width:500px;
    border:1px solid #5a4813;
    border-collapse:collapse;
    width:90%;
    margin:0 auto;
    border-radius:5px;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border:1.5px solid #5a4813;
    border-bottom: 3px solid #5a4813;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
    line-height: 10px;
    table-layout: fixed;
}

.table_year{
    max-width:1000px;
}

.table_week{
    max-width:750px;
}

.table_year th,.table_week th{
    font-size: 20px;
}

.table_year td p:nth-child(2),.table_week td p:nth-child(2){
    font-weight: bold;
}

/* Apply a border to the right of all but the last column */
.table_week th:not(:last-child),
.table_week td:not(:last-child),
.table_year th:not(:last-child),
.table_year td:not(:last-child){
    border-right: 1px solid black;
}

.table_week th,.table_year th{
    background-color: var(--primary-color);
    height:45px;
    text-align:center;
}

.table_week td,.table_year td{
    text-align:center;
    height:35px;
    background-color:#e7e0c4;
}

/* Apply a border to the bottom of all but the last row */
.table_year>thead>tr:not(:last-child)>th,
.table_year>thead>tr:not(:last-child)>td,
.table_year>tbody>tr:not(:last-child)>th,
.table_year>tbody>tr:not(:last-child)>td,
.table_year>tfoot>tr:not(:last-child)>th,
.table_year>tfoot>tr:not(:last-child)>td,
.table_year>tr:not(:last-child)>td,
.table_year>tr:not(:last-child)>th,
.table_year>thead:not(:last-child),
.table_year>tbody:not(:last-child),
.table_year>tfoot:not(:last-child),
.table_week>thead>tr:not(:last-child)>th,
.table_week>thead>tr:not(:last-child)>td,
.table_week>tbody>tr:not(:last-child)>th,
.table_week>tbody>tr:not(:last-child)>td,
.table_week>tfoot>tr:not(:last-child)>th,
.table_week>tfoot>tr:not(:last-child)>td,
.table_week>tr:not(:last-child)>td,
.table_week>tr:not(:last-child)>th,
.table_week>thead:not(:last-child),
.table_week>tbody:not(:last-child),
.table_week>tfoot:not(:last-child) {
    border-bottom: 1px solid black;
}

.table_year tr:first-child th:first-child,.table_week tr:first-child th:first-child{
    border-top-left-radius: 9px;
}

.table_year tr:first-child th:last-child,.table_week tr:first-child th:last-child{
    border-top-right-radius: 9px;
}

.table_year tr:last-child td:first-child,.table_week tr:last-child td:first-child{
    border-bottom-left-radius: 9px;
}

.table_year tr:last-child td:last-child,.table_week tr:last-child td:last-child{
    border-bottom-right-radius: 9px;
}

.table_week{
    margin-bottom: 25px;
}

.wordle{
    text-align: center;
}

#wordle{
    width:350px;
    max-width:750px;
    margin:0 auto;
    display:block;
    text-align:center;
}

#wordle table{
    margin:0 auto;
    margin-bottom:25px;
    border-spacing:5px;
}

#wordle table td{
    width:50px;
    height:50px;
    font-size: 30px;
    background-color: #e7e0c4;
    border-radius:10px;
    box-shadow: 0 0px 2px rgba(0,0,0,0.2);
    border:1px solid rgba(0,0,0,0);
    border-bottom: 3px solid rgba(0,0,0,0);
}

#wordle table td.filled{
    border:1px solid #5a4813 !important;
    border-bottom: 3px solid #5a4813 !important;
    background-color: #f4eb84;
}

#wordle_alphabet{
    margin: 0 auto;
    width:350px;
}

#wordle_output{
    opacity:0;
    margin-bottom:25px;
    height: auto;
    min-height: 25px;
}

.wordle_return,.wordle_enter{
    width:165px;
}

.wordle_return{
    background-image:url('src/symbols/return.png');
    background-repeat: no-repeat;
    background-size:20%;
    background-position: center;
}

.wordle_enter{
    text-transform: capitalize;
    font-weight: bold;
}

.wordle_letter{
    user-select: none;
    height:50px;
    width:50px;
    display:inline-block;
    margin:0 auto;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:10px;
    border:1.5px solid #5a4813;
    border-bottom: 3px solid #5a4813;
    border-radius:10px;
    text-align:center;
    font-size:20px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    text-transform: lowercase;
    box-shadow:0 2px 2px rgba(0,0,0,0.1);
    position: relative;
    z-index:20;
    vertical-align: middle;
    line-height: 50px;
    margin-top:-3px;
    background-color: #f4eb84;
}

.wordle_letter:active{
    background-color:#c7b056 !important;
    border-bottom: 1.5px solid #5a4813 !important;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25) inset !important;
}

@media only screen and (max-width: 700px) {
    #logo_div{
        width: 285px;
        height: 50px;
        left: calc(50% - 285px / 2);
        top: 10px;
    }

    #title{
        margin-top:-175px;
        margin-bottom:100px;
    }

    h1{
        font-size:30px;
    }

    #alphabet, #numbers{
        text-align: center;
    }

    #flags_div{
        top: 35px;
    }

    .kazakh,.french,.korean{
        height:20px;
        width:20px;
    }

    .russian{
        height:25px;
        width:25px;
        margin-top: 2px;
    }

    #search_filters{
        height:50px;
    }

    .filter,.filter_tags,.tag_filter{
        margin-left:1px;
        margin-right:1px;
        padding-left:2px;
        padding-right:2px;
        font-size:13px;   
    }

    .tag-filter p{
        font-size: 13px;
    }

    .tag-filter p::after{
        margin-left: -10px;
    }

    .tag-filter{
        padding-left:2px !important;
        padding-right:15px !important;
    }

    #guess_word{
        margin-bottom:25px;
    }

    #wave_top{
        border-top:275px solid var(--primary-color);
        margin-bottom:50px;
    }

    .word{
        margin:0 auto;
        margin-bottom:10px;
    }

    #letters_div,#numbers_div{
        text-align:center;
    }
}